* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg {
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    height: 100vh;
    background-image: url('https://i.pinimg.com/originals/44/ef/dd/44efddf9d9051b59f6f511919901b5bc.jpg');
    background-size: cover;
}

.glassmorphism {
    width: min(70vw, 500px);
    margin: auto;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 20px 0 40px 0;
    box-shadow: 0 28px 56px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);;
    border:none;
    border-radius: 26px;
    position:relative;
    background-color: rgba(255, 255, 255,0.1);
    background-clip: padding-box;
    overflow:hidden;
    cursor: pointer;
}
.login{
    display: flex;
    flex-direction: column;
    width: min(50vw, 400px);
    margin:auto;
}
h1{
    color: #fff;
    padding: 20px 0;
    margin: auto;
}
label{
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
input{
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
    border: none;
    background-color: rgba(255, 255, 255,0.25);
}
button{
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
    border: none;
    background-color: rgba(255, 255, 255,0.25);
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
}
button:hover{
    background-color: rgba(0, 0, 0,0.5);
}

  
  