* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg {
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    height: 100vh;
    background-image: url('https://i.pinimg.com/originals/44/ef/dd/44efddf9d9051b59f6f511919901b5bc.jpg');
    background-size: cover;
}

.glassmorphism {
    width: min(70vw, 500px);
    margin: auto;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4.0px);
    -webkit-backdrop-filter: blur( 4.0px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    padding: 20px 0 40px 0;
}
.login{
    display: flex;
    flex-direction: column;
    width: min(50vw, 400px);
    margin:auto;
}
h1{
    color: #fff;
    padding: 20px 0;
    margin: auto;
}
label{
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 20px;
}
input{
    padding: 5px;
    border-radius: 5px;
    color: #000;
    border: none;
}


.glass-morphism-container-hover-effect{
    position:relative;
    background-color: rgba(255, 255, 255,0.1);
    padding: 60px;
    color:#008eb5;
    border-radius: 25px;
    border: solid 2px transparent;
     background-clip: padding-box;
    box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.03);
    backdrop-filter: blur(50px);
    overflow:hidden;
    cursor: pointer;
  }
  
  .glass-morphism-container-hover-effect::before{
    --size: 0;
      content: '';
      position: absolute;
      left: var(--x);
      top: var(--y);
      width: var(--size);
      height: var(--size);
      background: radial-gradient(circle closest-side, rgba(255, 255, 255,0.2), transparent);
      transform: translate(-50%, -50%);
      transition: width .2s ease, height .2s ease;
  }
  
  .glass-morphism-container-hover-effect:hover::before{
    --size: 400px;
  }